= bootstrap_form_for @user, :html => { :class => :form } do |f|
  = f.text_field :email, :class => 'text_field'
  = f.text_area :token, :class => 'text_field', :rows => '5'
  .actions
    %button.btn.primary{:type => "submit"} Update
